# Project-generated data
/data/raw/
/data/csv/
/data/csvFiles/
/data/rerun/
/data/influxdb2_parameters/
/app/data/
/infra/.submodule_head_last_seen

# Python bytecode and extensions
__pycache__/
.pytest_cache/

# Packaging and build artifacts
.Python
build/

# Environment files
.env

# Application runtime files
*.log
*.line
*.rrd

# Bro I lowkey hate python somtimes - will
.venv
